body {
    font-family: Arial, sans-serif;
    background-color: #3b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #4410d4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.display {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

button {
    font-size:20;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.operator {
    background-color: #f0a500;
    color: #fff;
}
